@font-face {
    font-family: 'Hemicube PERSONAL USE ONLY';
    src: url('Hemicube.woff2') format('woff2'),
        url('Hemicube.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

